<div class="container signup-success">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card">
        <h2 class="card-title text-center">Check your mail</h2>
        <div class="card-body py-md-4">
          <p>We have sent you a link to confirm your account</p>
        </div>
      </div>
    </div>
  </div>
</div>